<%- include('parts/head')  %> 
<body>
    <h2 class="title">Create a New Account</h2>
    <form method="POST" class="container">
        <label for="username">username</label>
        <input type="text" name="username" class="username">
        <label for="email">Email</label>
        <input type="email" name="email" class="email">
        <label for="password">Password</label>
        <input type="password" name="password" class="password">
        <label for="Confirmpassword">Confirmpassword</label>
        <input type="password" name="Confirmpassword" class="password">
        <button type="submit">Create Account</button>
    </form>
<%- include('parts/footer')  %> 